	<footer>
		{{ widgets:area slug="footer" }}

		<ul>
			{{ navigation:links group="footer" }}
		</ul>

		<div class="widget social">
			<h3>Socialise</h3>
			<ul>
				<li><a class="tooltip-s" href="http://twitter.com/iKreativ" title="Follow on Twitter" target="_blank">{{ theme:image file="twitter.png" }}</a></li>
				<li><a class="tooltip-s" href="#" title="Follow on Facebook" target="_blank">{{ theme:image file="facebook.png" }}</a></li>
				<li><a class="tooltip-s" href="http://forrst.com/people/iKreativ" title="Follow on Forrst" target="_blank">{{ theme:image file="forrst.png" }}</a></li>
				<li><a class="tooltip-s" href="http://dribbble.com/iKreativ" title="Follow on Dribbble" target="_blank">{{ theme:image file="dribbble.png" }}</a></li>
				<li><a class="tooltip-s" href="#" title="Follow on Vimeo" target="_blank">{{ theme:image file="vimeo.png" }}</a></li>
				<li><a class="tooltip-s" href="#" title="Follow on YouTube" target="_blank">{{ theme:image file="youtube.png" }}</a></li>
			</ul>
		</div>
	</footer>

	</div>

  	{{ theme:js file="vendor.min.js" }}
  	{{ theme:js file="app.min.js" }}

</body>
</html>