.nav {
	.flat-list li, .flat-list .flat-list__item {
		padding-right: $size-nav-padding-right;
		&:last-child {
			padding-right: 0;
		}
	}
}

.breadcrumb {
	background: $colour-light-grey;
	font-size: 0.8em;
	border-radius: 2px;
	border: 1px solid $colour-dark-grey;
	color: $colour-darker-grey;
	.breadcrumb__item {
		a, span {
			padding: 5px;
			display: block;
		}
		&--current {
			font-weight: bold;
		}
	}
	a {
		text-decoration: none;
		color: $colour-darker-grey;
	}
	.breadcrumb__item:last-child a::after, .breadcrumb__item:last-child span::after {
		content: "";
		margin: 0;
	}
}