/**
 * Colour settings
 */

// Light grey colour used on header BG etc
$colour-light-grey: rgb(238, 238, 238);
// Dark grey colour used on borders etc
$colour-dark-grey: rgb(209, 209, 209);
// Darker grey colour used to border active/hovered links in header
$colour-darker-grey: rgb(102, 102, 102);

// Purple colour as used for master nav links
$colour-purple: #84449d;